@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Lato:400,700);
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    
}

body {
    font-family: 'Lato', sans-serif;
    background-color: #f8f8f8;
}
body .container {
    position: relative;
    overflow: hidden;
    width: 1000px;
    height: 700px;
    margin: 80px auto 0;
    background-color: #ffffff;
    -moz-box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 30px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 30px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 30px;
}
body .container h1 {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 23px;
    text-align: center;
    text-indent: 6px;
    letter-spacing: 7px;
    text-transform: uppercase;
    color: #263238;
}
body .container button {
    background-color: rgba(115, 158, 218, 0.363);
    border: 0;
    color: white;
    padding: 45px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    box-shadow : 1px 1px 1px black;
    transition-duration: 0.1s;
}
body .container button:active{
    margin-left: 5px;
    margin-top : 5px;
    box-shadow : none;
}